{% load static %}

<div class="div-busca">
    
    <form class="form-de-busca" action="{% url 'buscar_eventos' %}">

        <input class="input-busca" type="text" name="buscar_eventos" id="buscar_eventos" placeholder="Pesquisar">
        
        <button class="btn-filtro">
            <img class="img-btn-filtro" src="{% static '/assets/partials/busca/filtro.svg' %}" alt="ícone de filtro">
        </button>

    </form>

    <div class="caixa-tags">

        <div class="tag">
            <a>Festival</a>
        </div>
        <div class="tag">
            <a>Show</a>
        </div>
        <div class="tag">
            <a>After Party</a>
        </div>
    </div>

</div> 
