{% load static %}

<div class="div-busca">
    
    <form class="form-de-busca" action="{% url 'buscar_eventos' %}">

        <input class="input-busca" type="text" name="buscar_eventos" id="buscar_eventos" placeholder="Pesquisar">
        
        <!-- <button class="search-button-click" type="submit">
            <img class="search-img" src="{% static '/assets/icones/lupa.svg' %}" alt="ícone de search">
        </button> -->

    </form>

    <div class="caixa-tags">

        <div class="tag">
            <p>Festival</p>
        </div>
        <div class="tag">
            <p>Show</p>
        </div>
        <div class="tag">
            <p>After Party</p>
        </div>
        <div class="tag">
            <p>aaaaaaa</p>
        </div>
        <div class="tag">
            <p>aaaaaaa</p>
        </div>

    </div>

</div> 
