

.titulo-dashboard-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: 68%;
    position: fixed;
    top: 18%;
    right: 2em;
}

.titulo-dashboard-index h1 {
    font-weight: bold;
    font-size: 45px;
    color: #ffff;
}

.div-filtrar-data {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-campo);
    width: 300px;
    border-radius: 20px;
    margin-left: 15em;
}

.div-exportar-dashboard {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    text-decoration: none;
    background-color: var(--destaque);
    gap: 1em;
    padding: 1em;
    border-radius: 20px;
}

.div-exportar-dashboard p {
    font-weight: bold;
    font-size: 1em;
    color: #ffff;
}

.div-exportar-dashboard img {
    width: 1em;
    height: 1em;
}

.section-blocos-dashboard {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-campo);
    position: fixed;
    width: 68%;
    height: 67%;
    border-radius: 20px;
    top: 31%;
    right: 2em;
}

.section-blocos-dashboard h2 {
    font-weight: bold;
    font-size: 45px;
    color: #ffff;
}