{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

<div class="titulo-cadastro">
    <p class="titulo-login">Novo por aqui?</p>
</div>

<form class="section-cadastro-form" action="{% url 'cadastro' %}" method="post">

    <script>

        function show_pass_confirm(){

            var input_senha = document.getElementById("input-senha")

            var input_senha_confirma = document.getElementById("input-senha-confirma")


            if (input_senha_confirma.type == 'text')
                {
                    input_senha.type = 'password'
                    input_senha_confirma.type = 'password'
        
                }
                
            else
            {
                input_senha.type = 'text'
                input_senha_confirma.type = 'text'
            }
            
        };

    </script>

    {% csrf_token %}

    <div class="form-group-campos" style="gap: 1em;">

        {% for field in form.visible_fields %}

            <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field }}

        {% for error in field.errors %}

        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}

        <a href="javascript: show_pass_confirm()" style="margin-right: -18em; margin-top: -9.2em;"><img src="{% static 'assets/icones_login/eyes.svg' %}" alt="" width="25px" height="25px"></a>


        <div class="div-alternativas-de-login" style="margin-top: 7em;">
            <p class="cadastro">Ao utilizar o GuiarMe, você concorda com nossos Termos de Serviço e Política de Privacidade.</p>
        </div>

    </div>

    <div class="div-botao-login">
        <button class="btn-entrar" type="submit">Criar minha conta</button>
    </div>
    
</form>

{% endblock %}