{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

<div class="titulo-cadastro">
    <p class="titulo-login">Novo por aqui?</p>
</div>

<form class="section-cadastro-form" action="{% url 'cadastro' %}" method="post">

    {% csrf_token %}

    <div class="form-group-campos" style="gap: 1em; height: auto;">

        {% for field in form.visible_fields %}

            <!-- <p class="form-label" for="{{ field.id_for_label }}">{{field.label}}</p> -->
            {{ field }}

        {% for error in field.errors %}

        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}

        <script src="{% static '/js/formularios.js' %}"></script>

        <a class="show-pass-cadastro" href="javascript: show_pass_confirm()"><img src="{% static 'assets/icones_login/eyes.svg' %}" alt="" width="25px" height="25px"></a>

        <div class="div-alternativas-de-login" style="margin-top: 7em;">
            <p class="cadastro">Ao utilizar o GuiarMe, você concorda com nossos Termos de Serviço e Política de Privacidade.</p>
        </div>

    </div>

    <div class="div-botao-base-forms">
        <button class="btn-entrar" type="submit">Criar minha conta</button>
    </div>
    
</form>

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>
    
{% endif %}

{% endblock %}