{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

{% if request.method == 'GET' %}

<style>

    .btn-back, .upload-img, #sexo, #btn-entrar, #btn-hide, select, .tags_filtro {
        display: none;
    }   

    .section-tela {
        height: auto;
    }

    .div-botao-login a {
        width: 85%;
    }

</style>

{% endif %}

<div class="div-titulo-formulario">
    <p class="titulo-formulario" id="titulo-formulario">Como podemos te chamar?</p>
</div>

<form class="section-login-form" action="{% url 'novo_perfil' %}" method="post" enctype="multipart/form-data" id="novo_perfil">

    {% csrf_token %}

    <div class="form-group-campos">

        {% for field in form.visible_fields %}

            <p class="form-label" for="{{ field.id_for_label }}">{{field.label}}</p>
            {{ field }}

        {% for error in field.errors %}

        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}

    </div> 

    <script src="{% static '/js/mobile/novo_resumo.js' %}"></script>

    <div class="div-botao-base-forms">

        <button class="btn-entrar" type="submit" id="btn-entrar">Continuar</button>
        <a href="javascript: show_fields()" class="btn-entrar" id="btn-avancar">Continuar</a>

    </div>

    <section class="section-status-progress">

        <div class="div-status-progress">
        
            <div class="status-progress" id="1" style="background-color: var(--destaque);">
            </div>
        
            <div class="status-progress" id="2">
            </div>
        
            <div class="status-progress" id="3">
            </div>

        </div>

    </section>

</form>

{% endblock %}