{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<main class="main-login"> 

    <section class="section-login">

        <div class="tela-login">
            
            <script>
                function voltar()
                {
                  history.back();
                }
                
            </script>

            <div class="div-btn-back">
                <a href="javascript: voltar()" class="btn-back"><img src="{% static '/assets/icones_login/back-icone.svg' %}" alt=""></a>
            </div>

            <div class="div-titulo-profile">
                <p class="titulo-profile">Como podemos te chamar?</p>
            </div>

            <form class="section-profile-form" action="{% url 'novo_perfil' %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="form-group-campos">

                    {% for field in form.visible_fields %}

                        <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
                        {{ field }}

                    {% for error in field.errors %}

                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                    {% endfor %}

                </div>

                <button class="btn-entrar" type="submit">Continuar</button>
                
            </form>

        </div>

    </section>

</main>

{% endblock %}