{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

{% if request.method == 'POST' %}

    <style>
        .div-btn-back {
            display: none;  
        }

        .div-botao-login a {
            width: 85%;
        }
    </style>

{% endif %}

<div class="div-user-image-splash">
    {% if resumo.foto.url != '' %}
        <img src="{{ resumo.foto.url }}" alt="">
    {% else %}
        <img src="{% static '/assets/icones_cadastro/profile_default.svg' %}" alt="">
    {% endif %}
</div>

<div class="div-contexto-de-agradecimento-inicial">
    <p class="contexto-de-agradecimento-inicial">{{ resumo.nome }} agora precisamos conhecer mais você!</p>
    <p class="contexto-de-agradecimento-inicial-menor">Sinta-se à vontade para personalizar suas preferências a qualquer momento.</p>
</div>

<div class="div-botao-login" style="margin-top: 1em;">
    <a class="btn-entrar" href="{% url 'novo_filtro' %}">Continuar</a>
</div>        

{% endblock %}