{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<div class="titulo-e-btn-google">
    <p class="titulo-login">Você por aqui?</p>
    <a class="btn-google" href="{% provider_login_url 'google' %}?next=/"><img src="{% static '/assets/icones_login/google-icone.svg' %}" alt="">Continue google</a>
</div>

<div class="div-alternativa-de-login">
    <hr>
    <p class="texto-alternativa-login">OU LOGIN COM E-MAIL</p>
    <hr>
</div>

<form class="section-login-form" action="{% url 'login' %}" method="post">

    {% csrf_token %}

    <div class="form-group-login">

        {% for field in form.visible_fields %}
    
        <label class="form-label-login" for="{{ field.id_for_label }}">{{field.label}}</label>
        {{ field }}
    
        {% endfor %}

    </div>

    <script src="{% static '/js/formularios.js' %}"></script>

    <a class="show-pass-login" href="javascript: show_pass()"><img src="{% static 'assets/icones_login/eyes.svg' %}" alt=""  width="25px" height="25px"></a>

    <div class="div-botao-login" style="margin-top: 1em;">
        <button class="btn-entrar" type="submit">Entrar</button>
    </div>


</form>

<div class="div-alternativas-de-login">
            
    <a href="{% url 'trocar_senha' %}" class="esqueci-senha">Esqueci minha senha</a>
    
    <a href="{% url 'cadastro' %}" class="cadastro">Criar uma conta</a>

</div>

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

{% endblock %}