{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

<div class="titulo-e-btn-google">
    <p class="titulo-login">Você por aqui?</p>
    <a class="btn-google" href=""><img src="{% static '/assets/icones_login/google-icone.svg' %}" alt="">Continue google</a>
</div>

<div class="div-alternativa-de-login">
    <hr>
    <p class="texto-alternativa-login">OU LOGIN COM E-MAIL</p>
    <hr>
</div>

<form class="section-login-form" action="{% url 'login' %}" method="post">

    {% csrf_token %}

    <div class="form-group-login">

        <script>

            function show_pass(){

                var input_senha = document.getElementById("input-senha")

                if (input_senha.type == 'text')
                    {
                        input_senha.type = 'password'
            
                    }
                    
                else
                {
                    input_senha.type = 'text'
                }
                
            };

        </script>

        {% for field in form.visible_fields %}
    
        <label class="form-label-login" for="{{ field.id_for_label }}">{{field.label}}</label>
        {{ field }}
    
        {% endfor %}

    </div>

    <a href="javascript: show_pass()" style="margin-right: -18em; margin-top: -3em;"><img src="{% static 'assets/icones_login/eyes.svg' %}" alt=""  width="25px" height="25px"></a>

    <div class="div-botao-login" style="margin-top: 1em;">
        <button class="btn-entrar" type="submit">Entrar</button>
    </div>


</form>

<div class="div-alternativas-de-login">
            
    <a href="" class="esqueci-senha">Esqueci minha senha</a>
    
    <a href="{% url 'cadastro' %}" class="cadastro">Criar uma conta</a>

</div>

{% endblock %}