{% load static %}


<nav class="navegation-bar">

  <a class="nav-item" href="/">
    <!-- <a href="javascript:history.back()"></a> -->
    <img src="{% static '/assets/partials/navegation_bar/home.svg' %}" width="26" height="24">
  </a>
  
  <a class="nav-item" href="/">
    <img src="{% static '/assets/partials/navegation_bar/local.svg' %}" width="20" height="24">
  </a>
  
  <a class="nav-item" href="/">
    <img src="{% static '/assets/partials/navegation_bar/eventos.svg' %}" width="26" height="20">
  </a>

  <a class="nav-item" href="{% url 'logout' %}">
    <img src="{% static '/assets/partials/navegation_bar/profile.svg' %}" width="20" height="24" >
  </a>
  
</nav>

<script>
  feather.replace();
  document.querySelector(".nav-item").focus();
</script>


