{% load static %}

<div class="div-busca">
    
    <form class="form-de-busca" action="{% url 'buscar' %}">

        <input class="input-busca" type="text" name="buscar" id="buscar" placeholder="Pesquisar">
        
        <button class="btn-filtro">
            <img class="img-btn-filtro" src="{% static '/assets/partials/busca/filtro.svg' %}" alt="ícone de filtro">
        </button>

    </form>

    <div class="caixa-tags">

        <div class="tag">
            <a href="/">Principais</a>
        </div>
        <div class="tag">
            <a href="/">Restaurantes</a>
        </div>
        <div class="tag">
            <a href="/">Bares</a>
        </div>
        <div class="tag">
            <a href="/">Padarias</a>
        </div>
        <!--
        <div class="tag">
            <a href="/">aaaaaaa</a>
        </div>
        <div class="tag">
            <a href="/">aaaaaaa</a>
        </div>
        <div class="tag">
            <a href="/">aaaaaaa</a>
        </div>
        <div class="tag">
            <a href="/">aaaaaaa</a>
        </div> -->

    </div>

</div> 
