{% load static %}

<script>

    function exibir_filtro() {

        var id_filtro = document.getElementById("filtro_id_mobile")

        id_filtro.style.display = "flex"

    }

    function fechar_filtro() {

    var id_filtro = document.getElementById("filtro_id_mobile")

    id_filtro.style.display = "none"

    }

</script>

<div class="div-busca">
    
    <form class="form-de-busca" action="{% url 'buscar' %}">

        <input class="input-busca" type="text" name="buscar" id="buscar" placeholder="Pesquisar">

        <button class="btn-filtro" type="button" onclick="exibir_filtro()">
            <img class="img-btn-filtro" src="{% static '/assets/partials/busca/filtro.svg' %}" alt="ícone de filtro">
        </button>

    </form>

    <div id="filtro_id_mobile" class="div-filtro-mobile">

        <form class="form-fitro-estabelecimento" action="{% url 'buscar' %}">

            <input class="input-busca-filtro" type="text" name="buscar" id="buscar" placeholder="Pesquisar">
    
            <div class="distancia-filtro-mobile">

                <p>Distância</p>
                <input type="range"  min="0" max="200" value="10">

            </div>

            <div class="distancia-filtro-mobile">

                <p>Preços</p>
                <input type="range" min="0" max="200" value="50">

            </div>

            <div class="div-btns-filtro-mobile">

                <button class="btns-filtro-mobile">Aplicar filtros</button>
                <button type="button" onclick="fechar_filtro()" class="btns-filtro-mobile" style="background-color: #fff; color: var(--destaque);">Fechar</button>

            </div>

        </form>

    </div>

    <div class="caixa-tags">

        <div class="tag">
            <a href="/">Principais</a>
        </div>
        <div class="tag">
            <a href="/">Restaurantes</a>
        </div>
        <div class="tag">
            <a href="/">Bares</a>
        </div>
        <div class="tag">
            <a href="/">Padarias</a>
        </div>
        
    </div>

</div> 
