{% load static %}


<header class="header">

    <div class="div-componentes">

        <a href="" class="nav-item-header">
            <img src="{% static 'assets/icones_plaform/header/search.svg'  %}" alt="">
        </a>

        <a href="" class="nav-item-header">
            <img src="{% static 'assets/icones_plaform/header/notif.svg'  %}" alt="">
        </a>

        <a href="" class="nav-item-header">
            <img src="{% static 'assets/icones_plaform/header/filter.svg'  %}" alt="">
        </a>

        <a href="" class="nav-item-header">
            <img src="{% static 'assets/icones_plaform/header/filter.svg'  %}" alt="">
        </a>

    </div>

</header>