{% extends 'plataforma/partials/base.html' %}
{% load static %}
{% block content %}


<!-- <p>teste dashboards</p> -->

<div>
    <img src="{% static '/assets/icones_plaform/breve.png' %}" alt="" width="950px" height="450px" style="margin-top: 7.5em; margin-left: 22em;">
</div>

{% include 'plataforma/partials/_navegation.html' %}

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

<script src="{% static '/js/redirect_and_color.js' %}"></script>
<script>
  redirect_and_color('dashboard')
</script>

{% endblock %}