{% extends 'plataforma/partials/base.html' %}
{% load static %}
{% block content %}



<div class="titulo-dashboard-index">

    <h1>Dashboard</h1>

    <div class="div-filtrar-data">
        <p>Em Breve</p>
    </div>

    <a class="div-exportar-dashboard" href="/">
        <p>Exportar</p>
        <img src="{% static '/assets/icones_plaform/header/seta-export.svg' %}" alt="">
    </a>

</div>

<section class="section-blocos-dashboard">

    <div class="div-cp1-e-cp2-dashboard">

        <div>
            <p>Em Breve</p>
        </div>

        <div>
            <p>Em Breve</p>
        </div>

    </div>

    <div class="div-cp3-e-cp4-cp5-dashboard">

        <div class="div-cp3-e-cp4-dashboard">

            <div class="div-disposicao-de-gastos-dashboard">
                <p>Em Breve</p>
                <!-- <p>{{ estabelecimento_business.preco_medio}}</p> -->
            </div>

            <div class="div-dias-comuns-dashboard">
                <p>Em Breve</p>
            </div>

        </div>

        <div class="div-mapa-dashboard">

            <p>Em Breve</p>

        </div>

    </div>

    <!-- <h2>Em Breve...</h2> -->
    <!-- <img src="{% static '/assets/icones_plaform/breve.png' %}" alt="" > -->
</section>
{% include 'plataforma/partials/_header.html' %}

{% include 'plataforma/partials/_navegation.html' %}

<script src="{% static '/js/utils/redirect_and_color.js' %}"></script>
<script>
  redirect_and_color('dashboard')
</script>

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

{% endblock %}