
@media (max-width: 428px) {

    .div-busca {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 14px;
    }
    
    .form-de-busca {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .input-busca {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 20px 0px 0px 20px;
        width: 75%;
        height: 60px;
        background-color: var(--fundo-campo);
        padding-left: 1.2em;
        box-sizing: border-box;
        font-weight: bold;
        font-size: 20px ;
        color: #ffff;
    }

    .btn-filtro {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fundo-campo);
        border: none;
        border-radius: 0px 20px 20px 0px;
        width: 15%;
        height: 60px;
        box-sizing: border-box;
    }
    
    .input-busca:focus + .btn-filtro, .input-busca:focus {
        outline: solid 2px var(--destaque);
    }

    .caixa-tags {
        display: flex;
        align-items: center;
        background-color: transparent;
        gap: 8px;
        overflow-x: auto;
        /* overflow: visible; */
        width: 90%;
        height: 38px;
    }
    
    .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--fundo-campo);
        font-weight: bold;
        font-size: 14px ;
        border-radius: 20px;
        padding: 0px 25px 0px 25px;
        width: 100%;
        height: 38px;
    }

    .tag a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
        width: auto;
        text-decoration: none;
        color: #ffff;
    }

    .div-filtro-mobile {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        background-color: var(--fundo-campo);
        width: 100%;
        height: 70%;
        border-radius: 20px;
        top: 0em;
        transition: 200ms;
        animation: fadeIn 1s ease-in-out;
    }


    .distancia-filtro-mobile {
        display: flex;
        /* justify-content: center;
        align-items: center; */
        /* flex-direction: row; */
        width: 100%;
        margin-bottom: 3em;
    }

    .distancia-filtro-mobile p {
        font-weight: bold;
        font-size: 20px ;
        color: #ffff;
        text-align: left;
        width: 100%;
        padding-left: 1em;

    }

    .btns-filtro-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        /* height: 20%; */
    }
    
}
