

.nav-navegation-bar-plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: var(--fundo-campo);
    gap: 6%;
    height: 95%;
    width: 25%;
    border-radius: 25px;
    margin-left: -72%;
}

.img-business-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 1em;
}

.img-business-nav img {
    width: 110px;
    height: 110px;
}

.div-nav-bar-plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: visible;
    gap: 1em;
    flex-direction: column;
    width: 100%;
    height: 20%;
    padding-top: 6.8em;
    border-radius: 20px;
    margin-bottom: 1em;
    
}
.div-nav-bar-plataforma::-webkit-scrollbar {
    /* display: none; */
    background-color: var(--fundo-campo);
    width: 10px;
}
.div-nav-bar-plataforma::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: var(--destaque);
    height: 10px;
    border-radius: 20px;
}

.div-nav-bar-plataforma::-webkit-scrollbar-thumb {
    height: 10px;
}


.nav-item-plataforma {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 1em;
    flex-direction: row;
    background-color: var(--destaque);
    text-decoration: none;
    width: 90%;
    /* height: 100%; */
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
}

.nav-item-plataforma div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-left: 1em;
    height: 70px;
}

.btn-criar-evento-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    background-color: var(--destaque);
    text-decoration: none;
    width: 90%;
    height: 20%;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    /* margin-bottom: 1em; */
}

.btn-criar-evento-nav img {
    margin-top: -3.5em;

}