{% extends 'plataforma/partials/base.html' %}
{% load static %}
{% block content %}


<main class="main-home-plataforma" style="background-image: url({% static '/assets/icones_plaform/home/background_home1.svg' %});">

    <section class="section-home-plataforma">

        <div class="components-home-plataforma">

            <img class="logo-inicial-plataforma" src="{% static '/assets/icones_plaform/home/logo_plataforma.svg' %}" alt="logo incial">

            <div class="logo-e-contexto-plataforma">
                <img class="logo-texto-plataforma" src="{% static '/assets/icones_id/logo_texto.svg' %}" alt="">
                <p class="contexto-home-plataforma">Apareça para seu mundo ideal!</p>
            </div>
    
            <div class="botoes-login-ou-cadastro-plataforma">
    
                <a href="{% url 'cadastro_plataforma' %}" class="botao-criar-conta-plataforma" style="background-color: var(--destaque); color: #ffff;">Criar uma conta</a>
    
                <a href="{% url 'login_plataforma' %}" class="botao-criar-conta-plataforma" style="background-color: #1855ab00; color: #ffff; border: solid 1px #ffff; margin-bottom: 10px;">Login</a>
    
            </div>
    
            <div class="avisos-plataforma">
                <p>Ao utilizar o GuiarMe, você concorda com nossos Termos de Serviço e Política de Privacidade.</p>
            </div>

        </div>

    </section>

</main>

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

{% endblock %}
