/* Tela de login */

@import url(botao_google.css);

@media (max-width: 428px) {

    .tela-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .section-login-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 2em;
        /* margin-top: 5%; */
        /* background-color: var(--fundo_card_inicial); */
    }
    
    .titulo-e-btn-google {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.2em;
        width: 100%;
        margin-top: 2em;
    }
    .titulo-login {
        font-weight: bold;
        font-size: 40px;
        font-family: "Lato", "sans-serif";
        color: #ffff;
    }
    
    .form-group-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .div-botao-login {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .div-alternativa-de-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 1.5em;
        width: 100%;
        gap: 10px;
    }
    
    .div-alternativa-de-login hr{
        color: var(--texto-no-card);
        width: 25%;
        height: 1px;
        background-color: var(--texto-no-card);
        border: none;
    }
    
    .texto-alternativa-login {
        font-size: 12px;
        font-family: "Lato", "sans-serif";
        color: var(--texto-no-card);
    }
    
    .div-alternativas-de-login {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 1em;
        text-align: center;
    }
    
    .cadastro {
        font-size: 16px;
        font-family: "Lato", "sans-serif";
        text-decoration: none;
        color: var(--texto-no-card);
        width: 90%;
    }

    .esqueci-senha {
        font-size: 16px;
        font-family: "Lato", "sans-serif";
        text-decoration: none;
        color: var(--texto-no-card);
        width: 100%;
    }

}
