

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: transparent;
    top: 10px;
    right: 2em;
}

.div-componentes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.nav-item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-campo);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}