{% load static %}


<nav class="nav-navegation-bar-plataforma">

  <div class="img-business-nav">
    <img src="{% static '/assets/icones_plaform/home/logo_plataforma.svg' %}" alt="">
  </div>

  <div class="div-nav-bar-plataforma">

    <a class="nav-item-plataforma" href="{% url 'dashboard' %}" id="dashboard">
      <div>
        <img src="{% static '/assets/icones_plaform/navegation_bar/dashboard.svg' %}" width="20" height="20">
        Dashboard
      </div>
    </a>

    <a class="nav-item-plataforma" href="{% url 'menu' %}" id="cardapio">
      <div>
        <img src="{% static '/assets/icones_plaform/navegation_bar/cardapio.svg' %}" width="20" height="20">
        Meu Cardápio
      </div>
    </a>
  
    <a class="nav-item-plataforma" href="{% url 'my_events' %}" id="eventos">
      <div>
        <img src="{% static '/assets/icones_plaform/navegation_bar/eventos.svg' %}" width="20" height="20" >
        Meus Eventos
      </div>
    </a>
    
    <a class="nav-item-plataforma" href="{% url 'my_reviews' %}" id="avaliacoes">
      <div>
        <img src="{% static '/assets/icones_plaform/navegation_bar/avaliacao.svg' %}" width="20" height="20" >
        Minhas Avalições
      </div>
    </a>
  
  </div>
  
    <a class="btn-criar-evento-nav" href="/">
      <img src="{% static '/assets/icones_plaform/navegation_bar/seta.svg' %}" width="70" height="70">
      <p>Criar Evento</p>
    </a>

</nav>