{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <section class="section-cards-eventos">

        <div class="div-busca-e-filtro">

            {% include 'eventos/partials/_busca.html' %}
    
        </div>

        {% if evento %}
        {% for evento in evento %}

        <div class="card-evento">

            <img class="foto-principal-card" src="{{ evento.foto.url }}" alt="">

            <div class="favorito">

                <img src="{% static '/assets/icones_card/favoritar.svg' %}" alt="">

            </div>

            <div class="div-informacao-card-evento">

                <p class="nome-evento">{{ evento.nome }}</p>
                <p class="local-evento">{{ evento.local }}</p>

            </div>

        </div>

        {% endfor %}
        {% else %}

        <div class="nenhum-evento-encontrado">
            <p class="">Nenhum evento encontrado</p>
        </div>

        {% endif %}
         
        {% include 'partials/_navegation_bar.html' %}
        
        {% include 'partials/_footer.html' %}

    </section>

{% endblock %}