{% extends 'plataforma/partials/base.html' %}
{% load static %}
{% block content %}


<div class="titulo-dashboard-index">

    <h1>Minhas Avalições</h1>

</div>

<section class="section-blocos-dashboard">

    
</section>

{% include 'plataforma/partials/_header.html' %}

{% include 'plataforma/partials/_navegation.html' %}

<script src="{% static '/js/utils/redirect_and_color.js' %}"></script>
<script>
  redirect_and_color('avaliacoes')
</script>

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

{% endblock %}