{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<section class="section-configuracoes-user">

    <div class="div-img-e-name-user"></div>

    <div class="img-e-name-user">
            
        {% if resumo.foto.url != '' %}
            <img class="foto-user-config" src="{{resumo.foto.url}}" alt="">
        {% else %}
            <img class="foto-user-config" src="{% static '/assets/icones_cadastro/profile_default.svg' %}" alt="" max>
        {% endif %}
        <p class="name-user-config">{{ resumo.nome }}</p>

    </div>

    <div class="div-opcoes-config">

        <a class="opcao-config" href="{% url 'editar_perfil' resumo.id %}">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/editar.svg' %}" alt="">
                <p>Editar perfil</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta.svg' %}" alt="">
        </a>
        
        <a class="opcao-config" href="">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/recriar.svg' %}" alt="">
                <p>Recriar filtro</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta.svg' %}" alt="">
        </a>

        <a class="opcao-config" href="{% url 'favoritos' %}">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/favoritar.svg' %}" alt="">
                <p>Favoritos</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta.svg' %}" alt="">
        </a>

        <a class="opcao-config" href="">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/troca_senha.svg' %}" alt="">
                <p>Trocar de senha</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta.svg' %}" alt="">
        </a>

        <a class="opcao-config" href="">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/config.svg' %}" alt="">
                <p>Configurações</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta.svg' %}" alt="">
        </a>

        <a class="opcao-config" href="{% url 'logout' %}">
            <div class="opcao-config-select">
                <img src="{% static '/assets/partials/configuracoes/sair.svg' %}" alt="">
                <p>Sair</p>
            </div>
            <img src="{% static '/assets/partials/configuracoes/seta-sair.svg' %}" alt="">
        </a>

    </div>

    {% include 'partials/_navegation_bar.html' %}
</section>

{% include 'partials/_footer.html' %}

{% if request.method == 'GET' %}

    <style>
        html, main, body {
            height: 100%;
        }
    </style>

{% endif %}

{% endblock %}