{% extends 'usuarios/partials/base_formularios.html' %}
{% load static %}
{% block content %}

{% if request.method == 'GET' %}

    <style>

        select{
            display: none;
        }

        .div-titulo-formulario p{
            font-size: 30px;
        }

    </style>

{% endif %}

<div class="div-titulo-formulario">
    <p class="titulo-formulario" id="titulo-formulario">Editar perfil</p>
</div>

<form class="section-login-form" action="{% url 'editar_perfil' resumo.id %}" method="post" enctype="multipart/form-data" id="editar_perfil">

    {% csrf_token %}

    <div class="form-profile-campos" style="margin-top: -10px;">

        {% for field in form.visible_fields %}

            <label class="form-label" for="{{ field.id_for_label }}">{{field.label}}</label>
            {{ field }}

        {% for error in field.errors %}

        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
        {% endfor %}

    </div> 

    <div class="div-botao-base-forms">

        <button class="btn-entrar" type="submit" id="btn-entrar">Confirmar edições</button>

    </div>

</form>

{% endblock %}