

.section-card-estabelecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info-estabelecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    /* border-radius: 20px; */
}

.div-voltar-e-favoritar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: left;
    width: 100%;
    gap: 13.5em;
    margin-top: 2em;
}

.div-nome-e-avaliacao-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1.5em;
    margin-top: 4em;
}
.nome-estabelecimento-card {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    width: 70%;
}
.div-avaliacao-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.avaliacao-estabelecimento-card {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}

.local-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding-left: 3em;
    margin-top: 10px;
}

.local-card p {
    color: var(--textos);
    font-size: 14px;
    font-weight: bold;
}

.section-cardapio-e-avaliacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div-opcoes-cardapio-e-avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 13px;
}

.btn-opcao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    color: var(--destaque);
    height: 48px;
    width: 37%;
    padding: 6px;
    border: 1px solid #ffff;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 1.2em;
}

.btn-opcao:hover {
    background-color: var(--destaque);
    color: #ffff;
    border: 1px solid var(--destaque);
}