{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<section class="section-card-estabelecimento">

    {% if estabelecimentos %}

        <div class="info-estabelecimento" style="background-image: url({{estabelecimentos.foto.url}});">

            <div class="div-voltar-e-favoritar">

                <script src="{% static '/js/formularios.js' %}"></script>
                
                <a href="javascript: voltar()"><img src="{% static '/assets/icones_card/voltar.svg' %}" alt=""></a>
                <img src="{% static '/assets/icones_card/favoritar card.svg' %}" alt="">

            </div>
            
            <div class="div-nome-e-avaliacao-card">

                <h1 class="nome-estabelecimento-card">{{ estabelecimentos.nome }}</h1>

                <div class="div-avaliacao-card">

                    <img src="{% static '/assets/icones_card/avaliacao.svg' %}" alt="">
                    <p class="avaliacao-estabelecimento-card">{{ estabelecimentos.avaliacao }}</p>

                </div>
                
            </div>

        </div>

        <div class="local-card">

            <iframe class="iframe-map" src="{% url 'map' estabelecimentos.id %}" frameborder="0" > </iframe>

            <div class="div-nome-local-card-estabelecimento">

                <p class="local-estabelecimento-card">{{ estabelecimentos.local }}</p>
           
            </div>
            
        </div>

        <section class="section-cardapio-e-avaliacoes">

            <div class="div-opcoes-cardapio-e-avaliacao">

                <button type="button" class="btn-opcao-ativado-cardapio-mobile" onclick="show_produtos()" id="btn-cardapio-mobile">Cardápio</button>
                <button type="button" class="btn-opcao-desativado-cardapio-mobile" onclick="show_reviews()" id="btn-reviews-mobile">Avalições</button>

            </div>

            <section class="section-produtos-estabelecimento-mobile" id="hide-cardapio-mobile">

                <h2 class="titulo-produto-cardapio-mobile">Lanches</h2>

                {% if produtos_adicionados %}   
                {% for produtos in produtos_adicionados %}
                
                <article class="article-produto-estabelecimento-mobile">

                    <div class="div-info-produto-cardapio-mobile">
                        <h2>{{ produtos.nome }}</h2>
                        <h3>Serve {{ produtos.serve }} pessoa</h3>
                        <p>R$ {{ produtos.preco }}</p>
                    </div>

                    <div>
                        <img src="{% static 'assets/burguer.png' %}" alt="" width="90px" height="64px">
                    </div>

                </article>

                {% endfor %}
                {% endif %}

            </section>

            <section class="section-avaliacoes-estabelecimento-mobile" id="hide-reviews-mobile">

                <div class="div-avalicoes-total-estabelecimento">

                    <h1>{{ estabelecimentos.avaliacao }}</h1>
                    <!-- <img src="" alt=""> -->
                    <p>aaaaa</p>
                    <p>130 avaliações no total</p>

                </div>

                <article class="article-avaliacao-estabelecimento-mobile">
                    <div class="img-user-avaliacao-estabelecimento-mobile">
                        <img src="{% static 'assets/icones_cadastro/profile_default.svg'  %}" alt="" width="48px" height="48px">
                    </div>
                    <div class="user-e-avaliacao-estabelecimento-mobile">
                        <h2>{{ user }}</h2>
                        <h3>teste</h3>
                    </div>

                </article>

            </section>

        </section>  

    {% else %}

    <div class="nenhum-estabelecimento-encontrado" style="margin-top: 5em;">
        <h1>Ooops!</h1>
        <p class="error-oops">Não achamos nem um estabelecimento com essas informações.</p>
    </div>

    {% endif %}
    
    {% include 'partials/_footer.html' %}

</section>

{% if request.method == 'GET' %}

    <script src="{% static '/js/check.js' %}"></script>

    <script>

        var link = "{% url 'home_plataforma' %}"

        detectar_mobile(link);

    </script>

    <script src="{% static '/js/mobile/btn_cardapio_avaliacao_mobile.js' %}"></script>

{% endif %}

{% endblock %}