{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<section class="section-card-estabelecimento">

    {% if estabelecimentos %}

        <div class="info-estabelecimento" style="background-image: url({{estabelecimentos.foto.url}});">

            <div class="div-voltar-e-favoritar">

                <script src="{% static '/js/formularios.js' %}"></script>
                
                <a href="javascript: voltar()"><img src="{% static '/assets/icones_card/voltar.svg' %}" alt=""></a>
                <img src="{% static '/assets/icones_card/favoritar card.svg' %}" alt="">

            </div>
            
            <div class="div-nome-e-avaliacao-card">

                <p class="nome-estabelecimento-card">{{ estabelecimentos.nome }}</p>

                <div class="div-avaliacao-card">

                    <img src="{% static '/assets/icones_card/avaliacao.svg' %}" alt="">
                    <p class="avaliacao-estabelecimento-card">{{ estabelecimentos.avaliacao }}</p>

                </div>
                
            </div>

        </div>

        <div class="local-card">

            <iframe class="iframe-map" src="{% url 'map' %}" frameborder="0"></iframe>

            <div class="div-nome-local-card-estabelecimento">

                <p class="local-estabelecimento-card">{{ estabelecimentos.local }}</p>
           
            </div>
            
        </div>


        <section class="section-cardapio-e-avaliacoes">

            <div class="div-opcoes-cardapio-e-avaliacao">

                <a href="" class="btn-opcao">Cardápio</a>
                <a href="" class="btn-opcao">Avalições</a>

            </div>

            <div>

            </div>

        </section>  

    {% else %}

    <div class="nenhum-estabelecimento-encontrado" style="margin-top: 5em;">
        <h1>Ooops!</h1>
        <p class="">Não achamos nem um estabelecimento com essas informações.</p>
    </div>

    {% endif %}
    
    {% include 'partials/_footer.html' %}

</section>

{% endblock %}