{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main class="main-index"> 

    <section class="section-busca-e-filtro">

        {% include 'estabelecimentos/partials/_busca.html' %}

    </section>

    <section class="section-cards-estabelecimentos">

        <div class="">
            <p>Página home</p>
            <a class="titulo-login" href="{% url 'logout' %}">Logout</a>
        </div>

        <div class="card-estabelecimentos">

        </div>
         
        {% include 'partials/_navegation_bar.html' %}

    </section>

</main>

{% endblock %}