{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


<section class="section-cards-estabelecimentos">

    <div class="div-busca-e-filtro">

        {% include 'estabelecimentos/partials/_busca.html' %}

    </div>

    {% if estabelecimentos %}
    {% for estabelecimentos in estabelecimentos %}

    <div class="card-estabelecimentos">

        <a class="foto-principal-card" href="{% url 'estabelecimento' estabelecimentos.id %}"><img src="{{ estabelecimentos.foto.url }}" alt=""></a>

        <div class="div-gasto-medio-e-favorito">

            <div class="gasto-medio">
                <p class="p-gasto-medio">Gasto médio</p>
                <p class="v-gasto-medio">R${{ estabelecimentos.preco_medio }}</p>
            </div>

            <a href="{% url 'favoritar_estabelecimento' estabelecimentos.id %}" style="width: 50px; height: 50px;"><img src="{% static '/assets/icones_card/favoritar.svg' %}" alt=""></a>

        </div>

        <div class="div-informacao-card-estabelecimento">

            <a href="{% url 'estabelecimento' estabelecimentos.id %}" style="width: 100%; text-decoration: none;">

                <div class="div-nome-e-local">

                    <p class="nome-estabelecimento">{{ estabelecimentos.nome }}</p>
                    <p class="local-estabelecimento">{{ estabelecimentos.local }}</p>

                </div>
            </a>

            <div class="div-avaliacao">

                <img src="{% static '/assets/icones_card/avaliacao.svg' %}" alt="">
                <p>{{ estabelecimentos.avaliacao }}</p>
                
            </div>

        </div>

    </div>

    {% endfor %}
    {% else %}

    <div class="nenhum-estabelecimento-encontrado">
        <h1>Ooops!</h1>
        <p class="error-oops">Não achamos nem um estabelecimento com essas informações.</p>
    </div>

    {% endif %}
        
    {% include 'partials/_navegation_bar.html' %}
    {% include 'partials/_footer.html' %}

</section>

{% endblock %}